body {
  /* background-color: blue; */
  background: url(../img/ocean.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.list {
  color: white;
}

.links {
  color:white;
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h2 {
  color: white;
  
}

.pp {
  color: green;
}

p {
  font-size: 22px;
  font-family: sans-serif;
}

a {
  color: yellow;
  font-size: 18px;
}

.icon {
  width: 20%;
}
